body {
  background-color: rgb(187, 153, 129);
  font-family: "Montserrat", sans-serif;
  /* font-family: 'Playfair Display', serif; */
}

.navbar {
  justify-content: space-around;
  background-color: #5c3d2e;
  color: white;
}
.navbar-nav a {
  color: white;
}

h1 {
  text-align: center;
  padding-top: 1cm;
  font-size: 1.3cm;
}

.title {
  font-weight: bold;
}

#cont1 {
  text-align: justify;
}

#cont2{
    padding-top: 2cm;
    padding-left: 1cm;
}

#row1{
    align-self: center;
    width:28cm;
    height: 15cm;
    /* background-color: red; */
}

#img1{
    width:16.5cm;
    height: 15cm;
}

#img2{
    width:16.5cm;
    height: 15cm;
}

#img3{
    width:16.5cm;
    height: 15cm;
}

#img4{
    width:16.5cm;
    height: 15cm;
}

h5{
    color: black;
}

#cont3{
    text-align: justify; 
}

.patners{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

#media{
    display: flex;
    justify-content: space-around;
}
#footer{
    text-align: center;
   
    
}
.footer{
    background-color: #5c3d2e;
    color: white;
    margin-top: 5%;
    padding: 20px;
}
.fa-facebook{
    color: rgb(12, 12, 250);
    font-size: 35px;
}
.fa-whatsapp{
    color: rgb(17, 243, 17);
    font-size: 35px;
}
.fa-twitter{
    color: blue;
    font-size: 35px;
}
.fa-youtube{
    color: red;
    font-size: 35px;
}