@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #bb9981;
}

.hero {
  background-image: url(../images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 56, 47, 0.5);
  z-index: -1;
}

.hero h2 {
  font-weight: 200;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}
#logo {
  padding-left: 50px;
}

.row1 {
  justify-content: space-between;
  background-color: #bb9981;
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.names {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.first {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.second {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.mail-message {
  width: 100%;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.col2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.col2 p {
  color: white;
  margin-top: 5px;
  text-align: center;
}

.butn {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#firstname {
  height: 5vh;
  border-radius: 5px;
  border-color: #6e3004;
}

#secondname {
  height: 5vh;
  border-radius: 5px;
  border-color: #6e3004;
}

#email {
  height: 5vh;
  border-radius: 5px;
  border-color: #6e3004;
}

#message {
  height: 50vh;
  width: 100%;
  border-radius: 5px;
  border-color: #6e3004;
}

#email {
  width: 100%;
}

#msglabel {
  padding-top: 10px;
}

#btn {
  margin-top: 10px;
  background-color: #582d0e;
  border: none;
  border-radius: 2px;
  width: 50%;
  padding: 5px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

#locate {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

.mapouter {
  border: solid;
  border-width: 2px;
  border-color: #582d0e;
  border-radius: 3px;
}

.footer {
  background-color: #5c3d2e;
  color: white;
  padding: 20px;
}

.fa-facebook {
  color: rgb(12, 12, 250);
  font-size: 35px;
}

.fa-whatsapp {
  color: rgb(17, 243, 17);
  font-size: 35px;
}

.fa-twitter {
  color: blue;
  font-size: 35px;
}

.fa-youtube {
  color: red;
  font-size: 35px;
}

#media {
  display: flex;
  justify-content: space-around;
}

#footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* .navbar-nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  align-items: center;
  font-size: 16px;
  color: white;
}
.navbar {
  justify-content: space-around;
  background-color: #5c3d2e;
  color: white;
} */

/* #nav0 {
  justify-content: space-between;
  position: absolute;
  right: 20px;
  top: 0;
  margin-top: 10px;
} */

#media {
  display: flex;
  justify-content: space-around;
}

.patners {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* #logo {
  margin-left: 10px;
  width: 50px;
  height: 50px;
} */

.footer {
  background-color: #5c3d2e;
  color: white;
  padding: 20px;
}

.fa-facebook {
  color: rgb(12, 12, 250);
  font-size: 35px;
}

.fa-whatsapp {
  color: rgb(17, 243, 17);
  font-size: 35px;
}

.fa-twitter {
  color: blue;
  font-size: 35px;
}

.fa-youtube {
  color: red;
  font-size: 35px;
}

#media {
  display: flex;
  justify-content: space-around;
}

#footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar-nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  align-items: center;
  font-size: 16px;
  color: white;
}
.navbar {
  justify-content: space-between;
  background-color: #5c3d2e;
  color: white;
}

#nav0 {
  justify-content: space-between;
  position: absolute;
  right: 20px;
  top: 0;
  margin-top: 10px;
}

#media {
  display: flex;
  justify-content: space-around;
}

.patners {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.patners img {
  width: 100px;
  height: 50px;
}
.copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
