@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
 font-family:'Montserrat' ;
}

.navbar{
    justify-content: space-around;
    background-color: #5c3d2e;
     color: white; 
}
.navbar-nav a{
    color: white;
}
